<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="../static/dashboard/subscriber/subscriber.css" />

        <!-- Tailwind -->
        <script src="https://cdn.tailwindcss.com"></script>

        <title>Candy</title>
    </head>
    <body>
        <!-- Header -->
        <div class="m-2 p-2 rounded-xl bg-red-300 h-40 flex">
            <!-- Name and balance -->
            <div class="flex-initial w-1/4">
                <div id="username" class="pl-8 pt-4"></div><br>
                <div id="balance" class="text-lg pl-8"></div>
            </div>
            <!-- Buttons -->
            <div class="flex-initial w-3/4">

            </div>
        </div>

        <!-- Following -->
        <div>

        </div>

        <!-- History -->
        <div>

        </div>

        <!-- Optional: Messages -->
        <div>

        </div>
    </body>
    <!-- JS script -->
    <script src="../static/dashboard/subscriber/subscriber.js"></script>
</html>