<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name=”monetization” content=”$ilp.uphold.com/ZkFjfmiQk886”>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/treat/app.css" />

    <title>Treat</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav
      id="mainNav"
      class="navbar navbar-expand-md navbar-dark fixed-top py-0"
    >
      <a class="navbar-brand" href="#">CANDY</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="treat">TREAT</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Cards -->
    
    <div id = "cardContainer">
      <div class="container">
        <div id = 'c1', class="row">
          <!-- Card 1 -->
          <div class="col-lg-4 mb-3">
            <div class="card">
              <img src="../static/treat/pattern1.jpeg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">First Thing</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Necessitatibus unde quibusdam, saepe rem totam minus culpa
                  fugit, rerum alias similique obcaecati natus sequi reprehenderit
                  eos cupiditate aliquam vel ullam nesciunt?
                </p>
                <a href="#" class="btn border-danger text-danger btn-sm"
                  >Buy a Candy</a
                >
                <a href="#" class="btn border-danger text-danger btn-sm"
                  ><i class="far fa-heart"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- Card 2 -->
          <div class="col-lg-4 mb-3">
            <div class="card">
              <img src="../static/treat/pattern2.jpeg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">First Thing</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                  possimus officia optio sed ex unde, ipsam veritatis suscipit
                  vitae nihil dolores eligendi neque distinctio, earum in a
                  laudantium provident repudiandae?
                </p>
                <a href="#" class="btn border-danger text-danger btn-sm"
                  >Buy a Candy</a
                >
                <a href="#" class="btn border-danger text-danger btn-sm"
                  ><i class="far fa-heart"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- Card 3 -->
          <div class="col-lg-4 mb-3">
            <div class="card">
              <img src="../static/treat/pattern3.jpeg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">First Thing</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Distinctio hic impedit provident non consequuntur expedita
                  dolorem corporis fuga, praesentium at eaque natus aliquam quia
                  nulla ipsam incidunt iste quis consequatur.
                </p>
                <a href="#" class="btn border-danger text-danger btn-sm"
                  >Buy a Candy</a
                >
                <a href="#" class="btn border-danger text-danger btn-sm"
                  ><i class="far fa-heart"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- Card 4 -->
          <div class="col-lg-4 mb-3">
            <div class="card">
              <img src="../static/treat/pattern4.jpeg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">First Thing</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Necessitatibus unde quibusdam, saepe rem totam minus culpa
                  fugit, rerum alias similique obcaecati natus sequi reprehenderit
                  eos cupiditate aliquam vel ullam nesciunt?
                </p>
                <a href="#" class="btn border-danger text-danger btn-sm"
                  >Buy a Candy</a
                >
                <a href="#" class="btn border-danger text-danger btn-sm"
                  ><i class="far fa-heart"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- Card 5 -->
          <div class="col-lg-4 mb-3">
            <div class="card">
              <img src="../static/treat/pattern5.jpeg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">First Thing</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Necessitatibus unde quibusdam, saepe rem totam minus culpa
                  fugit, rerum alias similique obcaecati natus sequi reprehenderit
                  eos cupiditate aliquam vel ullam nesciunt?
                </p>
                <a href="#" class="btn border-danger text-danger btn-sm"
                  >Buy a Candy</a
                >
                <a href="#" class="btn border-danger text-danger btn-sm"
                  ><i class="far fa-heart"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- Card 6 -->
          <div class="col-lg-4 mb-3">
            <div class="card">
              <img src="../static/treat/pattern6.jpeg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">First Thing</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Necessitatibus unde quibusdam, saepe rem totam minus culpa
                  fugit, rerum alias similique obcaecati natus sequi reprehenderit
                  eos cupiditate aliquam vel ullam nesciunt?
                </p>
                <a href="#" class="btn border-danger text-danger btn-sm"
                  >Buy a Candy</a
                >
                <a href="#" class="btn border-danger text-danger btn-sm"
                  ><i class="far fa-heart"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- Card 7 -->
          <div class="col-lg-4 mb-3">
            <div class="card">
              <img src="../static/treat/pattern7.jpeg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">First Thing</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Necessitatibus unde quibusdam, saepe rem totam minus culpa
                  fugit, rerum alias similique obcaecati natus sequi reprehenderit
                  eos cupiditate aliquam vel ullam nesciunt?
                </p>
                <a href="#" class="btn border-danger text-danger btn-sm"
                  >Buy a Candy</a
                >
                <a href="#" class="btn border-danger text-danger btn-sm"
                  ><i class="far fa-heart"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- Card 8 -->
          <div class="col-lg-4 mb-3">
            <div class="card">
              <img src="../static/treat/pattern8.jpeg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">First Thing</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Necessitatibus unde quibusdam, saepe rem totam minus culpa
                  fugit, rerum alias similique obcaecati natus sequi reprehenderit
                  eos cupiditate aliquam vel ullam nesciunt?
                </p>
                <a href="#" class="btn border-danger text-danger btn-sm"
                  >Buy a Candy</a
                >
                <a href="#" class="btn border-danger text-danger btn-sm"
                  ><i class="far fa-heart"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- Card 9 -->
          <div class="col-lg-4 mb-3">
            <div class="card">
              <img src="../static/treat/pattern9.jpeg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">First Thing</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Necessitatibus unde quibusdam, saepe rem totam minus culpa
                  fugit, rerum alias similique obcaecati natus sequi reprehenderit
                  eos cupiditate aliquam vel ullam nesciunt?
                </p>
                <a href="#" class="btn border-danger text-danger btn-sm"
                  >Buy a Candy</a
                >
                <a href="#" class="btn border-danger text-danger btn-sm"
                  ><i class="far fa-heart"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Payment box -->
    <div id="paymentBox">
      <!-- Heading -->
      <span id="paymentH"> Send <mark class="red">Candy</mark> and show some 💖!</span>
      <!-- amount box -->
      <div id="amountBox">
        
      </div>
      <!-- name -->
      <input id="nameBox" placeholder="Name">
        
      </input>
      <!-- message -->
      <input id="messageBox" placeholder="Say something nice!" maxlength="55">
        
      </input>

      <button id="sendMoney"> TREAT </button>
    </div>

    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/14195fe261.js"
      crossorigin="anonymous"
    ></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $(document).scroll(function () {
          var $nav = $("#mainNav");
          $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
        });
      });
    </script>
  </body>
</html>
